# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Start/bin/x86/Debug/IFS2.Equipment.TicketingRules.Start.exe.config
Start/bin/x86/Debug/IFS2.Equipment.TicketingRules.Start.vshost.exe.config
*.manifest
Start/obj/x86/Debug/Start.csproj.FileListAbsolute.txt
TT.ncb
*.pdb
*.cache
*.idb
*.dep
*.user
*.resources
CISCairo/Start/bin/x86/Debug/IFS2.Equipment.TicketingRules.Start.exe.config
CISCairo/Start/obj/Debug/Start.csproj.FileListAbsolute.txt
CISCairo/TTMain/obj/Debug/TTMain.csproj.FileListAbsolute.txt
ClassLibrary1/obj/Debug/ReaderFunctions.csproj.FileListAbsolute.txt
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Constants/obj/Debug/Constants.csproj.FileListAbsolute.txt
CryptoflexFunctions/obj/Debug/CryptoflexFunctions.csproj.FileListAbsolute.txt
CSCReaderAdapter/obj/Debug/CSCReaderFunctions.csproj.FileListAbsolute.txt
CSCv3Adapter/obj/Debug/CSCv3Adapter.csproj.FileListAbsolute.txt
CSCv4Adapter/obj/Debug/CSCv4Adapter.csproj.FileListAbsolute.txt
CSCVisiontekAdapter/obj/Debug/CSCVisiontekAdapter.csproj.FileListAbsolute.txt
HHDReaderAdapter/obj/Debug/HHDReaderAdapter.csproj.FileListAbsolute.txt
Main/TTMain/obj/Debug/TTMain.csproj.FileListAbsolute.txt
MonoLinux/EODParametersMoLi/obj/Debug/EODParametersMoLi.csproj.FileListAbsolute.txt
MonoLinux/MediaTreatmentNoLi/obj/Debug/MediaTreatmentNoLi.csproj.FileListAbsolute.txt
MonoLinux/TTMainMoLi/obj/Debug/TTMainMoLi.csproj.FileListAbsolute.txt
Parameters/OverallParameters/obj/Debug/EODParametersW.csproj.FileListAbsolute.txt
Rules/CommonRules/obj/Debug/CommonRules.csproj.FileListAbsolute.txt
SAM/CCHSSAM/CCSHSAM/obj/Debug/CCSHSAM.csproj.FileListAbsolute.txt
SAM/CCHSSAMLibrary/obj/Debug/CCHSSAMLibrary.csproj.FileListAbsolute.txt
SAM/ReadCCHSSAMID/obj/Debug/ReadCCHSSAMID.csproj.FileListAbsolute.txt
SecurityMgr/SecurityMgr/obj/Debug/SecurityMgr.csproj.FileListAbsolute.txt
SecurityMgr2/obj/Debug/SecurityMgr2.csproj.FileListAbsolute.txt
SmartCard/SmartCard/obj/Debug/SmartFunctions.csproj.FileListAbsolute.txt
SmartMedia/obj/Debug/SmartMedia.csproj.FileListAbsolute.txt
TestCSCReader/obj/Debug/TestCSCReader.csproj.FileListAbsolute.txt
Tests/TestCSCApiV3/obj/Debug/TestCSCApiV3.csproj.FileListAbsolute.txt
Tests/TestFareProductSpec/obj/Debug/TestFareProductSpec.csproj.FileListAbsolute.txt
Tests/TestFunctions/obj/Debug/TestFunctions.csproj.FileListAbsolute.txt
Tests/TestMacAlo/obj/Debug/TestMacAlgo.csproj.FileListAbsolute.txt
Tests/TestParameters/obj/Debug/TestParameters.csproj.FileListAbsolute.txt
Tests/TestTT/obj/Debug/TestTT.csproj.FileListAbsolute.txt
Tests/TestXdrToXml/obj/Debug/TestXdrToXml.csproj.FileListAbsolute.txt
ThalesCSCReader/obj/Debug/ThalesCSCReader.csproj.FileListAbsolute.txt
TicketLayout/TicketPhyLayout/obj/Debug/TicketPhyLayout.csproj.FileListAbsolute.txt
WindowsCE/CCHSSAMLibraryCE/obj/Debug/CCHSSAMLibraryCE.csproj.FileListAbsolute.txt
WindowsCE/EODParameters/obj/Debug/EODParameters.csproj.FileListAbsolute.txt
Utils/MacAlgo/Debug/BuildLog.htm
ThalesCSCApiWrapperForSakeOfCallback/Debug/BuildLog.htm
WindowsCE/MediaTreatment/obj/Debug/MediaTreatment.csproj.FileListAbsolute.txt
WindowsCE/ReadCCHSSAMIDCE/obj/Debug/ReadCCHSSAMIDCE.csproj.FileListAbsolute.txt
WindowsCE/TTMainCE/obj/Debug/TTMainCE.csproj.FileListAbsolute.txt
WindowsMobile/EODParameters/obj/Debug/EODParameters.csproj.FileListAbsolute.txt
WindowsMobile/MediaTreatmentWM/obj/Debug/MediaTreatmentWM.csproj.FileListAbsolute.txt
WindowsMobile/TTMain/obj/Debug/TTMain.csproj.FileListAbsolute.txt
Start/bin/x86/Debug/ThalesCSCApiWrapperForSakeOfCallback.ilk
Outputs_CE/OpenNETCF.WindowsCE.Messaging.xml
Outputs_CE/OpenNETCF.xml
Outputs_WM/OpenNETCF.Configuration.xml
Outputs_WM/OpenNETCF.WindowsCE.Messaging.xml
Outputs_WM/OpenNETCF.xml
Start/bin/x86/Debug/ThalesCSCApiWrapperForSakeOfCallback.exp
Debug/MacAlgo.exp
Debug/MacAlgo.ilk
Utils/MacAlgo/Debug/app.res
Outputs_CE/OpenNETCF.Configuration.xml
SAM/ReadCCHSSAMID/bin/Debug/IFS2.Tools.ReadCCHSSAMID.exe.config
ThalesCSCApiWrapperForSakeOfCallback/Debug/ThalesCSCApiWrapperForSakeOfCallback.dll.embed.manifest.res
TT.suo
WindowsCE/ReadCCHSSAMIDCE/bin/Debug/OpenNETCF.xml
WindowsCE/ReadCCHSSAMIDCE/bin/Debug/OpenNETCF.WindowsCE.Messaging.xml
WindowsCE/ReadCCHSSAMIDCE/bin/Debug/OpenNETCF.Configuration.xml
Tests/TestCSCApiV3/obj/Debug/build.force
obj
IFS2.Equipment.TicketingRules.Start.vshost.exe.config
