<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SimulationModeForDSMID" value="127" />
    <add key="CSCReaderComPort" value="$USB$COM4" />
    <add key="SAMSlotNumber" value="1" />
    <add key="ProductionSAM" value="false" />
    <add key="ISAM_PinCode" value="0Ve3ujdFbxX3BK7ZR+0VNbZzy17CfbzwACviV8OEAqw=" />
  </appSettings>
</configuration>